
<nav class="d-flex flex-column">
    <div class="d-flex flex-row  justify-content-between align-items-center p-2 border-bottom border-1 border-dark w-100">
        <div >
            
            <a href="#" class="d-flex flex-column ">
                <img class="img" src="icon.png">
                <span class="logo-text text-blue">ShopNow</span>
            </a>
        </div>
        <div >
            <form class="container-fluid rounded-pill">
                <div class="input-group rounded-pill">
                  
                  <input type="text" class="form-control" placeholder="Buscar Producto" aria-label="Buscar Producto" aria-describedby="basic-addon1">
                  <button class="input-group-text bg-blue" id="basic-addon1"><i class="bx bx-search text-white"></i></button>
                </div>
            </form>
        </div>
        <div class="flex-column d-flex align-items-center fs-6 w-auto">
            <img src="user-icon.png" class="img w-75 ">
            <span class="fs-8 ">username</span>

        </div>
    </div>
    <div class="subnav-2 d-flex flex-row justify-content-between align-items-center p-3 bg-blue ">
        <div class="">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class='bx bx-menu bx-sm text-white' ></i>
            </button>
          
        </div>
        <div class="d-flex align-items-center">
            <a class="fs-7 m-auto h-100 valign-center text-white">Dean Funes 510 (Rosario, Santa Fe)</a>
        </div>
        <!-- Carrito de compras -->
        <div>
            <a (click)="toggleShoppingList()" >
                <i class='bx bx-cart bx-sm text-white'></i>
                
            </a>
        </div>
    </div>
</nav>


<!-- Componente Shopping-List -->
<div *ngIf="isShoppingListExpanded" class="ShoppingListExpanded">
    <app-shopping-list></app-shopping-list>
</div>


<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
      <h5 class="text-body-emphasis h4">Collapsed content</h5>
      <span class="text-body-secondary">Toggleable via the navbar brand.</span>
    </div>
</div>
  
