<main class="d-flex flex-column ">
    <article class="categories-carousel">
       <app-carrousel></app-carrousel>
    </article>
    <article class="container-fluid w-100">
        <h2 class=".fs-3 row">Vistos Recientemente</h2>
        <div class="row g-2">
            <app-main-product class="col"></app-main-product>
            <app-main-product class="col"></app-main-product>
            <app-main-product class="col"></app-main-product>
            <app-main-product class="col"></app-main-product>
            <app-main-product class="col"></app-main-product>
            <app-main-product class="col"></app-main-product>
        </div>
    </article>
</main>
